/*Style CSS*/

/*INDEX*/

.index_header {
        color: blue;
        text-align: left;
        margin-top: 5%;
        margin-bottom: 5%;
        font-family: 'Times New Roman', Times, serif;
}

.index_viz_header {
    color: navy;
    text-align: center;
    margin-bottom:1%;
    font-family:'Times New Roman', Times, serif
}
.index_image1 {
    background-color:gray;
    /* margin-left: 5% */
}

#index_row_buffer {
    margin-bottom: 2%;
    margin-top: 2%
}

/*WIND*/

.wind_header {
    color: blue;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.wind_viz_header {
color: navy;
text-align: center;
margin-bottom:1%;
font-family:'Times New Roman', Times, serif
}
.wind_image1 {
background-color:gray;
/* margin-left: 5% */
}

#wind_row_buffer {
margin-bottom: 2%;
margin-top: 2%
}

/*HUMIDITY*/

.humidity_header {
    color: blue;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.humidity_viz_header {
color: navy;
text-align: center;
margin-bottom:1%;
font-family:'Times New Roman', Times, serif
}
.humidity_image1 {
background-color:gray;
/* margin-left: 5% */
}

#humidity_row_buffer {
margin-bottom: 2%;
margin-top: 2%
}

/*TEMP*/

.temp_header {
    color: blue;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.temp_viz_header {
color: navy;
text-align: center;
margin-bottom:1%;
font-family:'Times New Roman', Times, serif
}
.temp_image1 {
background-color:gray;
/* margin-left: 5% */
}

#temp_row_buffer {
margin-bottom: 2%;
margin-top: 2%
}

/*CLOUDINESS*/

.cloudiness_header {
    color: blue;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.cloudiness_viz_header {
color: navy;
text-align: center;
margin-bottom:1%;
font-family:'Times New Roman', Times, serif
}
.cloudiness_image1 {
background-color:gray;
/* margin-left: 5% */
}

#cloudiness_row_buffer {
margin-bottom: 2%;
margin-top: 2%
}


    /*COMPARISON*/

.c_header {
    color: blue;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.c_viz_header {
color: navy;
text-align: center;
margin-bottom:1%;
font-family:'Times New Roman', Times, serif
}
.c_image1 {
background-color:gray;
/* margin-left: 5% */
}

#c_row_buffer {
margin-bottom: 2%;
margin-top: 2%
}


    /*DATA*/

.d_header {
    color: blue;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.d_viz_header {
color: navy;
text-align: center;
margin-bottom:1%;
font-family:'Times New Roman', Times, serif
}
.d_image1 {
background-color:gray;
/* margin-left: 5% */
}

#d_row_buffer {
margin-bottom: 2%;
margin-top: 2%
}